<div class="addrole">
    <p><span>ID：</span><input type="text"></p>
    <p><span>登录名：</span><input type="text" ng-model=" arr.loginname"></p>
    <p><span>真实姓名：</span><input type="text" ng-model=" arr.name"></p>
    <p><span>角色：</span><input type="text" ng-model="arr.role"></p>
    <p><span>手机：</span><input type="text" ng-model="arr.telephone"></p>
    <p><span>邮箱：</span><input type="text" ng-model="arr.email"></p>
    <p><span>状态：</span><input type="text" ng-model="arr.state"></p>
    <p><span>创建时间：</span> <input type="text" ng-model="arr.creattime"></p>
    <p><button ng-click="add()">添加</button></p>
</div>